body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

h1{
    font-size: 50pt;
}


h1, h2{
    color: lightskyblue;
}

a{
    color: red
}